<div class="row-two">
    <div class="container-padding">
        r2c1
        <img src="https://i.pinimg.com/originals/8d/90/8a/8d908ae4bb456d5e864b5346affe6070.gif"
            style="width:225px;height:300px;">
    </div>
    <div class="container-padding">
        Hover mouse on top center box
    </div>
    <div class="container-padding">
        r2c3
        <img src="https://i.pinimg.com/originals/8d/90/8a/8d908ae4bb456d5e864b5346affe6070.gif"
            style="width:225px;height:300px;">
    </div>
</div>